/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #733331 !important;
  --toolbarbutton-icon-fill: #ffb3ae !important;
  --toolbar-field-color: #f1dedd !important;
  --tab-selected-textcolor: #ffb3ae !important;
  --toolbar-color: #f1dedd !important;
  --arrowpanel-color: #f1dedd !important;
  --arrowpanel-background: #271d1d !important;
  --sidebar-text-color: #f1dedd !important;
  --zen-main-browser-background: #1a1111 !important;
}

.sidebar-placesTree {
  background-color: #271d1d !important;
}

#zen-workspaces-button {
  background-color: #271d1d !important;
}

#TabsToolbar {
  background-color: #1a1111 !important;
}

.urlbar-background {
  background-color: #271d1d !important;
}

.urlbar-input::selection {
  color: #571d1c !important;
  background-color: #ffb3ae !important;
}

.urlbarView-url {
  color: #d8c2c0 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb3ae
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffbeba !important;
  --identity-icon-color: #ffbeba !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb3ae !important;
  --identity-icon-color: #ffb3ae !important;
}

.identity-color-green {
  --identity-tab-color: #b8ffa5 !important;
  --identity-icon-color: #b8ffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffeda5 !important;
  --identity-icon-color: #ffeda5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe472 !important;
  --identity-icon-color: #ffe472 !important;
}

.identity-color-red {
  --identity-tab-color: #ffa09f !important;
  --identity-icon-color: #ffa09f !important;
}

.identity-color-pink {
  --identity-tab-color: #ffc9c6 !important;
  --identity-icon-color: #ffc9c6 !important;
}

.identity-color-purple {
  --identity-tab-color: #763531 !important;
  --identity-icon-color: #763531 !important;
}

#zen-appcontent-navbar-container {
  background-color: #1a1111 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ffb3ae !important;
  color: #ffb3ae !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ffb3ae !important;
  color: #ffb3ae !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ffb3ae !important;
}
