// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "./cfg/animations.kdl"
include "./cfg/autostart.kdl"
include "./cfg/binds.kdl"
include "./cfg/input.kdl"
include "./cfg/layout.kdl"
include "./cfg/misc.kdl"

//////////
//Cursor//
//////////

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

//////////////
//Workspaces//
//////////////

workspace "chat"

workspace "general"

workspace "work"

workspace "games"

//////////////////
//Recent Windows//
//////////////////

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}
