spawn-at-startup "niri-float-sticky"
//spawn-at-startup "sunsetr"
//spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"
//spawn-sh-at-startup "waybar -c $HOME/.config/waybar/niri.jsonc -s $HOME/.config/waybar/niri.css"
//spawn-sh-at-startup "noctalia"
// spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "udiskie"
spawn-sh-at-startup "waypaper --restore"
