spawn-at-startup "niri-float-sticky"
spawn-at-startup "sunsetr"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"
spawn-sh-at-startup "waybar -c $HOME/.config/waybar/niri.jsonc -s $HOME/.config/waybar/style/niri.css"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "udiskie"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"
spawn-sh-at-startup "waypaper --restore"
spawn-at-startup "flameshot"
