input {
    keyboard {
        repeat-delay 300
        repeat-rate 30
        numlock
    }

    mouse {
        accel-speed -0.70
        accel-profile "flat"
    }

    touchpad {
        tap
    }
    
   // focus-follows-mouse // Automatically focus windows under the mouse pointer

}

