[Desktop Entry]
Categories=Network;
Comment=Take control of your Discord experience with GoofCord – the highly configurable and privacy-minded discord client.
Exec=goofcord %U
GenericName=Internet Messenger
Icon=goofcord
Keywords=discord;goofcord;
Name=GoofCord
StartupWMClass=GoofCord
Terminal=false
Type=Application
